@use 'base';
.hero-container{
    display:flex;
}
.section-heading{
    font-size: base.$heading-size;
    color:base.$text-color;
}
.section-content{
    font-size: base.$content-size;
    color:base.$text-color;
    padding:2rem 0;
}
.primary-button{
    margin-right:1rem;
    background-color: base.$button-color;
    border-radius: 13px;
    border:none;
    padding:1rem 3rem;
    color:base.$text-color;
    letter-spacing: 4px;
}
.primary-button:hover{
    background-color:base.$text-color;
    color: base.$button-color;
}
.secondary-button{
    background-color: base.$secondary-button-color;
    border-radius: 13px;
    border:none;
    padding:1rem 3rem;
    color:base.$button-color;
    letter-spacing: 4px;
}
.secondary-button:hover{
    background-color:base.$button-color;
    color: base.$secondary-button-color;
}
.left-container{
    width:50dvw;
    display: flex;
    padding-left:4rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.right-container{
    width:50dvw;
    padding-right:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img{
    height:100%;
    width:100%;
}
.button-group{
    display: flex;
    justify-content: space-around;
}

@include base.mobileView{
    .hero-container{
        flex-direction:column;
    }
    .left-container,.right-container{
        padding:8%;
        width: 100dvw;
    }
    
    .primary-button,.secondary-button{
        padding:1rem ;
    }
}