@use 'base';
.section-heading{
    font-size: base.$heading-size;
    color:base.$text-color;
}
.plans{
    display: flex;
    flex-direction: row;
    padding:2rem;
}
.plan__detail{
    display:flex;
    flex-direction: column;
    margin:2%;
    padding:2%;
    border:1px solid base.$button-color;
    background-color: base.$secondary-button-color;
    border-radius: 18px;
}
.plan-detail:nth-child(2){
    border:1px solid base.$secondary-button-color;
    background-color: base.$button-color;
}
.plan__heading{
    display: flex;
    font-size: base.$heading-size ;
    justify-content: center;
    align-items: center;
    color:base.$button-color;
    padding:2rem 1rem 1rem 1rem;
}
.plan__list{
    list-style: none;
}
.plan__caption{
    padding:0 1rem;
    color:base.$white-color;
    font-weight:bolder;
    font-size:base.$content-size;
    text-wrap: wrap;
}
.plan__monthPrice,.plan__yearPrice{
    padding:2% 0;
    text-align: center;
    color:base.$white-color;
    font-size: xx-large;
}
.plan__button{
    margin-top:3%;
    padding:5%;
    border:2px solid base.$button-color;   
    border-radius: 13px;
    background-color:base.$secondary-button-color;
    color: base.$button-color;
    font-size: base.$caption-size;
}
.plan__button:hover{
   color: base.$secondary-button-color;
   border:none;
    background-color: base.$button-color;
}
@include base.mobileView{
    .plan-container{
        flex-direction: column;
    }
    .plans{
        padding:8%;
        flex-direction: column;
        width: 100dvw;
    }
}